<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>小例子</string>
		<key>classVC</key>
		<string>RainModelViewController</string>
	</dict>
	<dict>
		<key>className</key>
		<string>masonry的运用</string>
		<key>classVC</key>
		<string>RainMasonryViewController</string>
	</dict>
	<dict>
		<key>className</key>
		<string>横屏</string>
		<key>classVC</key>
		<string>RainHoriViewController</string>
	</dict>
	<dict>
		<key>className</key>
		<string>RainServiceTestProtocol</string>
		<key>classVC</key>
		<string>RainProtocolTestViewController</string>
	</dict>
	<dict>
		<key>className</key>
		<string>UIStackView的学习</string>
		<key>classVC</key>
		<string>RainStackViewController</string>
	</dict>
	<dict>
		<key>className</key>
		<string>测试LoginView</string>
		<key>classVC</key>
		<string>RainLoginViewController</string>
	</dict>
	<dict>
		<key>className</key>
		<string>tabbar</string>
		<key>classVC</key>
		<string>RainLoginViewController</string>
	</dict>
	<dict>
		<key>className</key>
		<string>抽屉模式下左右滑动</string>
		<key>classVC</key>
		<string>RainLeftViewController</string>
	</dict>
	<dict>
		<key>className</key>
		<string>蓝牙连接</string>
		<key>classVC</key>
		<string>RainBlueToothViewController</string>
	</dict>
	<dict>
		<key>className</key>
		<string>转场动画</string>
		<key>classVC</key>
		<string>RainAnnimationViewController</string>
	</dict>
</array>
</plist>
